/*
  #1A2A3B

  #F7901F
*/


/* Buttons */
/* Inputs */
/* Timeline custom component */
.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: #4A89DC;
}

.timeline-card-primary:before {
  border-color: #4A89DC;
}

.timeline-card-primary:after {
  background-color: #4A89DC;
}

.timeline-card-success {
  border-left-color: #37BC9B;
}

.timeline-card-success:before {
  border-color: #37BC9B;
}

.timeline-card-success:after {
  background-color: #37BC9B;
}

html {
  scroll-behavior: smooth;
}

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2073%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(26%2c 42%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M69 -1.26L133.95 36.24L133.95 111.24L69 148.74L4.05 111.24L4.05 36.24zM69 448.74L133.95 486.24L133.95 561.24L69 598.74L4.05 561.24L4.05 486.24zM133.95 561.24L198.91 598.74L198.91 673.74L133.95 711.24L69 673.74L69 598.74zM198.91 -1.26L263.86 36.24L263.86 111.24L198.91 148.74L133.95 111.24L133.95 36.24zM263.86 111.24L328.81 148.74L328.81 223.74L263.86 261.24L198.91 223.74L198.91 148.74zM198.91 223.74L263.86 261.24L263.86 336.24L198.91 373.74L133.95 336.24L133.95 261.24zM198.91 448.74L263.86 486.24L263.86 561.24L198.91 598.74L133.95 561.24L133.95 486.24zM263.86 561.24L328.81 598.74L328.81 673.74L263.86 711.24L198.91 673.74L198.91 598.74zM393.77 111.24L458.72 148.74L458.72 223.74L393.77 261.24L328.81 223.74L328.81 148.74zM328.81 223.74L393.77 261.24L393.77 336.24L328.81 373.74L263.86 336.24L263.86 261.24zM458.72 -1.26L523.68 36.24L523.68 111.24L458.72 148.74L393.77 111.24L393.77 36.24zM523.68 111.24L588.63 148.74L588.63 223.74L523.68 261.24L458.72 223.74L458.72 148.74zM653.58 111.24L718.54 148.74L718.54 223.74L653.58 261.24L588.63 223.74L588.63 148.74zM848.44 223.74L913.4 261.24L913.4 336.24L848.44 373.74L783.49 336.24L783.49 261.24zM913.4 336.24L978.35 373.74L978.35 448.74L913.4 486.24L848.44 448.74L848.44 373.74zM913.4 561.24L978.35 598.74L978.35 673.74L913.4 711.24L848.44 673.74L848.44 598.74zM1043.31 111.24L1108.26 148.74L1108.26 223.74L1043.31 261.24L978.35 223.74L978.35 148.74zM978.35 223.74L1043.31 261.24L1043.31 336.24L978.35 373.74L913.4 336.24L913.4 261.24zM1043.31 336.24L1108.26 373.74L1108.26 448.74L1043.31 486.24L978.35 448.74L978.35 373.74zM978.35 448.74L1043.31 486.24L1043.31 561.24L978.35 598.74L913.4 561.24L913.4 486.24zM1043.31 561.24L1108.26 598.74L1108.26 673.74L1043.31 711.24L978.35 673.74L978.35 598.74zM1108.26 -1.26L1173.21 36.24L1173.21 111.24L1108.26 148.74L1043.31 111.24L1043.31 36.24zM1173.21 111.24L1238.17 148.74L1238.17 223.74L1173.21 261.24L1108.26 223.74L1108.26 148.74zM1108.26 448.74L1173.21 486.24L1173.21 561.24L1108.26 598.74L1043.31 561.24L1043.31 486.24zM1173.21 561.24L1238.17 598.74L1238.17 673.74L1173.21 711.24L1108.26 673.74L1108.26 598.74zM1238.17 -1.26L1303.12 36.24L1303.12 111.24L1238.17 148.74L1173.21 111.24L1173.21 36.24zM1238.17 223.74L1303.12 261.24L1303.12 336.24L1238.17 373.74L1173.21 336.24L1173.21 261.24zM1238.17 448.74L1303.12 486.24L1303.12 561.24L1238.17 598.74L1173.21 561.24L1173.21 486.24zM1303.12 561.24L1368.07 598.74L1368.07 673.74L1303.12 711.24L1238.17 673.74L1238.17 598.74zM1433.03 111.24L1497.98 148.74L1497.98 223.74L1433.03 261.24L1368.08 223.74L1368.08 148.74zM1368.08 223.74L1433.03 261.24L1433.03 336.24L1368.08 373.74L1303.12 336.24L1303.12 261.24zM1433.03 561.24L1497.98 598.74L1497.98 673.74L1433.03 711.24L1368.08 673.74L1368.08 598.74zM1497.98 -1.26L1562.94 36.24L1562.94 111.24L1497.98 148.74L1433.03 111.24L1433.03 36.24zM1562.94 336.24L1627.89 373.74L1627.89 448.74L1562.94 486.24L1497.98 448.74L1497.98 373.74zM1562.94 561.24L1627.89 598.74L1627.89 673.74L1562.94 711.24L1497.98 673.74L1497.98 598.74z' stroke='rgba(247%2c 144%2c 31%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M61.5 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM61.5 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-3.45 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-3.45 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM61.5 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM61.5 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-3.45 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-3.45 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM61.5 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM321.31 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM321.31 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM126.45 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM191.41 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM321.31 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM321.31 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM256.36 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM386.27 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM451.22 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM451.22 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM386.27 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM386.27 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM321.31 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM451.22 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM516.18 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM516.18 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM386.27 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM581.13 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM581.13 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM516.18 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM646.08 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM711.04 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM711.04 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM646.08 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM840.94 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.9 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.9 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM840.94 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM775.99 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM775.99 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.9 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM840.94 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.9 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM905.9 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM840.94 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM840.94 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM970.85 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1100.76 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1035.81 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1165.71 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1230.67 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.57 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.57 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1295.62 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 261.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.58 223.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.58 148.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.58 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.58 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1360.58 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 -1.26 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 111.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1425.53 36.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 336.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1620.39 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1620.39 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 486.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 448.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1490.48 373.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 561.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1620.39 598.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1620.39 673.74 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1555.44 711.24 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(247%2c 144%2c 31%2c 1)'%3e%3c/path%3e%3cpath d='M12.49 105.3L55.79 130.3L55.79 180.3L12.49 205.3L-30.81 180.3L-30.81 130.3zM142.4 30.3L185.7 55.3L185.7 105.3L142.4 130.3L99.09 105.3L99.09 55.3zM142.4 330.3L185.7 355.3L185.7 405.3L142.4 430.3L99.09 405.3L99.09 355.3zM315.61 30.3L358.91 55.3L358.91 105.3L315.61 130.3L272.31 105.3L272.31 55.3zM272.31 255.3L315.61 280.3L315.61 330.3L272.31 355.3L229 330.3L229 280.3zM402.21 30.3L445.52 55.3L445.52 105.3L402.21 130.3L358.91 105.3L358.91 55.3zM445.52 405.3L488.82 430.3L488.82 480.3L445.52 505.3L402.21 480.3L402.21 430.3zM488.82 480.3L532.12 505.3L532.12 555.3L488.82 580.3L445.52 555.3L445.52 505.3zM575.42 30.3L618.73 55.3L618.73 105.3L575.42 130.3L532.12 105.3L532.12 55.3zM575.42 480.3L618.73 505.3L618.73 555.3L575.42 580.3L532.12 555.3L532.12 505.3zM705.33 105.3L748.63 130.3L748.63 180.3L705.33 205.3L662.03 180.3L662.03 130.3zM705.33 405.3L748.63 430.3L748.63 480.3L705.33 505.3L662.03 480.3L662.03 430.3zM791.94 -44.7L835.24 -19.7L835.24 30.3L791.94 55.3L748.63 30.3L748.63 -19.7zM835.24 480.3L878.54 505.3L878.54 555.3L835.24 580.3L791.94 555.3L791.94 505.3zM965.15 405.3L1008.45 430.3L1008.45 480.3L965.15 505.3L921.84 480.3L921.84 430.3zM1095.05 330.3L1138.36 355.3L1138.36 405.3L1095.05 430.3L1051.75 405.3L1051.75 355.3zM1181.66 30.3L1224.96 55.3L1224.96 105.3L1181.66 130.3L1138.36 105.3L1138.36 55.3zM1181.66 180.3L1224.96 205.3L1224.96 255.3L1181.66 280.3L1138.36 255.3L1138.36 205.3zM1181.66 480.3L1224.96 505.3L1224.96 555.3L1181.66 580.3L1138.36 555.3L1138.36 505.3zM1224.96 405.3L1268.26 430.3L1268.26 480.3L1224.96 505.3L1181.66 480.3L1181.66 430.3zM1354.87 30.3L1398.17 55.3L1398.17 105.3L1354.87 130.3L1311.57 105.3L1311.57 55.3zM1354.87 180.3L1398.17 205.3L1398.17 255.3L1354.87 280.3L1311.57 255.3L1311.57 205.3zM1398.17 105.3L1441.47 130.3L1441.47 180.3L1398.17 205.3L1354.87 180.3L1354.87 130.3zM1441.47 180.3L1484.78 205.3L1484.78 255.3L1441.47 280.3L1398.17 255.3L1398.17 205.3z' stroke='rgba(156%2c 92%2c 6%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2073'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  border-radius: 10px 10px 0 0;
}

.avatar {
  min-height: 272px;
  max-width: 220px;
  margin: 20px auto auto auto;
  text-align: center;
}

.avatar img {
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  height: 256px;
  width: 204px;
  margin-top: 4px;
}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}

@media print {
  body {
    background-color: #fff;
  }

  .container {
    width: auto;
    max-width: 100%;
    padding: 0;
  }

  .cover,
  .cover-bg {
    border-radius: 0;
  }

  .cover.shadow-lg {
    box-shadow: none !important;
  }

  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important;
  }

  .avatar {
    margin-top: -10px;
  }

  .about-section {
    padding: 6.5rem 5rem 2rem !important;
  }

  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important;
  }

  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
}